/*
    AssociaPlus
    Folha de estilos em cascata
    Autor: Vinícius Cardoso
*/


/* Adaptações do layout
 ----------------------------------------------------------------- */
.smaller { font-size: 82.5%; }
.modal {overflow: auto !important;}
.close.xbtn { text-decoration: none }
.modal-header .close.xbtn { margin-top: 2px; }
.modal.in { -webkit-transform: translateZ(0); transform: translateZ(0); padding: 0 !important; }
@media (min-width: 992px) {
    .modal-xl { width: 980px; }
    .modal-xxl { width: 95%; margin-left: 2.5%; margin-right: 2.5% }
}
.form-control-box { display: table; }
.box-title.inner { font-size: 16px !important; }
.ms-container { width: 100% !important }
.ms-container .ms-list { -webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important; }

.dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.callout.callout-default{
    background-color: #f4f4f4 !important;
    border-color: #ddd;
    color: #444 !important;
}

.dataTables_paginate .pagination>li>a, .dataTables_paginate .pagination>li>span { font-size: 12px; }
.dataTables_info { font-size: 12px; }
.mvrastr-download-link { cursor: pointer }

.top-controls .form-group,.top-controls  .form-group-sm { position: relative }
.top-controls .form-group-sm { margin-bottom: 0; }
.top-controls input { width: 90px !important }
.top-controls input, .top-controls button, .top-controls select{ margin: 0 5px !important }
.top-controls .btn-group:last-child button, .top-controls .btn-group:last-child input { margin: 0 0 0 -1px !important }

/* workarounds de bugs do adminLte */
.small-box .inner { position: relative; z-index: 1; }
.btn.btn-flat { border-radius: 0 !important; }
/*.navbar-nav>.user-menu>.dropdown-menu>.user-body a { color: #00a65a !important; }*/
/*.navbar-nav>.user-menu>.dropdown-menu>.user-body a:hover { color: #008d4c !important; }*/
.form-control.mvup-assinatura-container { min-height: 162px; text-align: center; }
/*.input-group button { margin-right: 0 }*/
/*.ui-search-toolbar th[role=columnheader] { background: #ffffff; }*/

.panel-grid .box { margin-bottom: 0 !important }
.dataTables_paginate { height: 38px; }

.table-viewer, .table-viewer td { border-color: #d2d6de !important; }

.context-menu-list { border: 1px solid #DCDCDC; background: #FFFFFF;
    z-index: 9999 !important;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.2);
    -ms-box-shadow: 0 2px 5px rgba(0,0,0,.2);
    -o-box-shadow: 0 2px 5px rgba(0,0,0,.2);
    box-shadow: 0 2px 5px rgba(0,0,0,.2); }
.context-menu-item { font-size: .95em; padding: 8px 8px 8px 10px; color: #121212; background-color: #FFFFFF; border-bottom: 1px solid #DEDEDE;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif; }
.context-menu-item:last-of-type { border-bottom: none; }
.context-menu-item.hover{ background-color:#337AB7; color: #ffffff }
.context-menu-item:not(.context-menu-icon) .fa { color: #2980b9; }
.context-menu-item:not(.context-menu-icon).context-menu-hover .fa { color: #ffffff; }
.context-menu-item.context-menu-icon--fa span { margin-left: 16px; line-height: 1.42857143; }

div.form-control { overflow: hidden !important; white-space: nowrap !important; }
.form-group-sm { margin-bottom: 5px; }
.form-group-sm.last { margin-bottom: 0; }

.form-group-sm .select2-container--default .select2-selection--single,
.form-group-sm .select2-selection .select2-selection--single {
    padding: 4px 9px;
    height: 30px;
    font-size: 12px;
}
.form-group-sm .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
}
.form-control-checkbox { padding-top: 4px !important; }

.login-page { background: url(../../assets/img/bg/cheap_diagonal_fabric.png); }
.login-box-body { border: 1px solid #e4e4e4; }
.login-logo { text-shadow: 0px -1px 0 #f1f1f1; }

.hiddenColumn { display: none }

table.dataTable thead tr.filters th {
    padding-right: 8px;
}
.form-control.dt-filter {
    width: 100% !important;
    height: 25px;
    padding: 0 7px;
    font-weight: normal;
    font-size: 1em;
}
.form-group-sm input[type=text]:not(.no-caps), .form-group input[type=text]:not(.no-caps)  { text-transform: uppercase }

/* Twitter Typeahead
 ------------------------------------------------------------------*/
.twitter-typeahead { display: block !important; }
.tt-query { -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }
.tt-hint { color: #999 }
.tt-menu {
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion { padding: 3px 20px; line-height: 24px; }
.tt-suggestion.tt-cursor { color: #fff; background-color: #0097cf; }
.tt-suggestion p { margin: 0; }
.tt-selectable { cursor: pointer; }
.tt-selectable:hover { background-color: #289e66; color: #fff !important; font-weight: bold !important; }


/* Estilos de modais do sistema
 ----------------------------------------------------------------- */
.btn-no-label { margin-top: 24px }
.full-width { width: 100%; display: block !important; }
.ul-no-padding-margin { padding-left: 20px !important; margin-bottom: 0;}
.menu-item-invisible { display: none; }
.label-as-badge { border-radius: 1em; font-size: .9em; padding: .3em .52em; display: block; margin-top: 4px; }
.modal-title { font-size: 1.4em; font-weight: bold; }
.tb-app { background-color: #ffffff; }
.well:last-of-type { margin-bottom: 10px }

.app-divider { border: 1px solid #E0E0DD; padding: 10px; border-radius: 2px; margin-bottom: 10px; background-color: #f9f9f9 }
.app-divider-title {
    border: 1px solid #B5B5B5;
    border-bottom: none;
    padding: 1px 4px 1px;
    font-size: .8em;
    font-weight: bold;
    color: #ffffff;
    border-radius: 2px 2px 0 0;
    background-color: #B5B5B5;
    margin-left: 10px;
    display: inline-block;
}
.app-divider-check { margin: 0; font-weight: bold; display: inline-block; position: absolute; top: 2px; right: 0 }
.app-divider-title.section-1 { background-color: #B5B5B5; border: 1px solid #B5B5B5; border-bottom: none; }
.app-divider-title.section-2 { background-color: #87BD70; border: 1px solid #87BD70; border-bottom: none; }
.app-divider-title.section-3 { background-color: #62BBCB; border: 1px solid #62BBCB; border-bottom: none; }
.app-divider-title.section-4 { background-color: #ed9c28; border: 1px solid #ed9c28; border-bottom: none; }
.app-divider-title.section-5 { background-color: #ac42ed; border: 1px solid #ac42ed; border-bottom: none; }
.app-divider-title.section-6 { background-color: #ed2930; border: 1px solid #ed2930; border-bottom: none; }

.mv-table { background-color: #ffffff !important; }
.mv-table.last { margin-bottom: 0px !important; }
.mv-table td,.mv-table th { border: 1px solid #d2d6de !important; padding: 5px 8px 6px !important; }
.form-control.no-shadow {  -webkit-box-shadow: none; box-shadow: none; margin-bottom: 10px; overflow: hidden; word-break: break-all; }

.mv-table { background-color: #ffffff !important; }
.mv-table.last { margin-bottom: 0px !important; }
.mv-table td,.mv-table th { border: 1px solid #d2d6de !important; padding: 5px 8px 6px !important; }
.form-control.no-shadow {  -webkit-box-shadow: none; box-shadow: none; margin-bottom: 10px; overflow: hidden; word-break: break-all; }

.valign-middle { vertical-align: middle !important; }
.all-centered { vertical-align: middle !important; text-align: center !important; }
div.form-control { background-color: #f5f5f5  }

input[type=checkbox], input[type=radio] { margin: 2px 0 0 !important; }
label.checkbox { margin-left: 20px }
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] { margin-left: -20px !important; }
